@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    cursor:pointer;
    font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.refer
{
    width:100%;
    min-height:90vh;
    background-image:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.4)),url('./pexels-photo-3278215.jpeg');
    background-position:center;
    background-repeat:no-repeat;
    height:80vh;
    background-size: cover;
    background-position-x: right;
}    
li,a,button{
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
.ref{
    background-color: #24252a;
}
.control{
    width:40%;
    height:45px;
    border-radius: 50px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    color: #edf0f1;
}
.head{
    font-size: 25px;
    font-weight: 600;
    color:white;
}
.nav li{
    display: inline-block;
    padding: 0px 10px;
}
.nav li a{
    transition: all 0.3s ease 0s;
}
.nav li a:hover{
    color:#0088a9;
}
button{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: #013947;;
}
#computer,#heading,#heading1{
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 800;
    font-size: 30px;
    text-align: center;
    color:#333;
    padding-top: 5%;
    padding: 3%;

}
.cc2{
    font-family:'Lora','Times New Roman',serif;
    font-size: 20px;
    color: #404040;
    line-height: 0.8cm;
    padding-right: 200px;
    padding-left: 200px;
    padding-top: 10px;
    word-spacing: 0.1cm;
}
.cc1{
    font-family:Lora,'Times New Roman',serif;
    font-size: 20px;
    color: #404040;
    padding-right: 200px;
    padding-left: 200px;
    line-height: 0.8cm;
    padding-top: 10px;
    word-spacing: 0.1cm;

}
.rel{
    width:35%;
    height:45px;
    border-radius: 50px;
}
.cc{
    font-size:50px;
    color:white;
    padding-left: 28%;
    padding-bottom: 50%;
    padding-top: 14%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: 600;

}
.mt{
    font-size: medium;
    text-align: 58%;
    margin-top: .75em;

}
.t1{
    font-size: medium;
    text-align:center;
    padding-right: 40%;
    margin-top: .75em;
    color: white;
}
.t2{
    width:15vw;
    margin-top: 2em;
    border-radius: 50px;
    padding:.7em;
    color:white;
    background-color:#0088a9;
}
.t2:hover{
    background-color: #013947;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.foot{
	line-height: 1.5;
	font-family:'poppins',sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
    flex-wrap:wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
